@{
    ViewData["Title"] = "About";
}

<div class="jumbotron-custo text-center">
  <div class="jumbo-container">
    <h1 class="jumbo-title">POKEDATA</h1>
    <p class="lead">Recherchez vos pokemon favoris !</p>
    <p><a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="PokedexList" role="button">Commencer la recherche</a></p>
  </div>
</div>


<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2> Notre projet</h2>
        <p class="lead">Ce projet a pour but de créer une encyclopédie Pokémon qui peut répertorier tout les Pokémons existants.</p>
        <ul>
          <li>Vous pouvez rechercher les différents pokédex exitants</li>
          <li>La liste des Pokémons ainsi que leurs statistiques est mis à jour automatiquement</li>
          <li>Vous pouvez vous même contribuer à la base de donnée publique wikidata</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="technos" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Les technologies utilisées</h2>
        <p class="lead">Les technologies utilisés sont celles proposées dans le sujet de projet?</p>
        <ul>
          <li>ASP.NET Core</li>
          <li>Des bases de données publiques: Wikidata et DBpedia</li>
          <li>SPARQL</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="equipe">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contactez nous</h2>
        <p class="lead"> L'équipe est constitué de Goodwin Jean-Paul et Ahmed Sahim, n'hésitez pas à nous contacter ! 
        <p><a href="mailto:official_devteam@pokedata.com">official_devteam@pokedata.com</a></p>
      </div>
    </div>
  </div>
</section>

